<h1> Single Season Franchise Compare <span title="Hover over numbers or click on glossary tab to learn more"><%= image_tag("question.gif")%></span></h1>
<div id = "table"></div>
<%= raw @table.render('table') %>