<% title "Fielding Stats" %>

<table>
  <tr>
    <th>Player</th>
	<th>Position</th>
	<th><%= params[:stat].titleize %></th>
  </tr>
  
  <% for fielding_stat in @fielding_stats %>
    <tr>
      <td><%= fielding_stat[0].name %></td>
	  <td><%= fielding_stat.position %></td>
	  <td><%= fielding_stat[1]%></td>
    </tr>
  <% end %>
  
</table>
