body {
  background-image: url('../images/background.jpg');
  font-family: Helvetica;
  font-size: 14px;
  background-attachment: fixed;
  background-repeat: none;
}

p{

}
a:link{
text-decoration:none;
color:black;
}
a:visited{
text-decoration:none;
color:black;
}

a:hover{
color:red;
}


h1{
color:black;
}

#hd {
background-image: url('../images/logo.jpg');
position: absolute;
width:100%;
height:170px;
top: 0px;
left: 0px;
}




#text{
	margin-top: -510px;
}

img {
  border: none;
  
}

div.player  {
  border: none;
  width: 400px;
  height: 500px;
  margin-left: 35%
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#nav {
	margin: 0 0 5em 14em;
	list-style: none;
	padding: 4px 8px;
	position: absolute;
	height:35px;
    width: 100%;
    top: 140px;
    right: 0px;
	font-size:20px;
	}
	
#nav li {
	list-style: none;
	border: solid 1px black;
	float:left;
	}

#cssdropdown, #cssdropdown * { 
	list-style: none;
	padding: 4px 4px; 
	margin: 0; 
	width:auto;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;
	}
	

 li.dropdownmenu ul { 
	display: none; 
	border-top: 1px black solid; 
	text-align: left;
	}
 li.dropdownmenu:hover ul { 
	display: block; 
	text-align:left;
	position: absolute;
	float:left;
	background-color:black;
	z-index:5;
	}
	
 ul.tablerow li{
 float: left;
 display: block;
 width: 100px;
 font-family: Helvetica;
 border-left:5px solid #888888;
 padding: 2px 10px;
 }
 
 ul.tablerow li.first{
 font-size:16px;
 font-weight: bold;
 border-left:none;
 }

div.button a{
		font-size:20px;
		font-weight: bold;
		color:#0033CC;
		text-decoration:none;
		display:block;
		width:350px;
		padding:10px;
		text-align:center;
		border:1px solid #DDD;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		-o-border-radius:15px;
		border-radius:15px;
		top:120px;
		left:700px;
		position: absolute;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#B0B0B0'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#ccc)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #888,  #ccc); /* for firefox 3.6+ */ 
	}
div.button:hover a{
		color:#009;
		border-color:#3278BE;
	}
 
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: none; 
	font-size: 25px;
	width:100%;
	}
	
#nav li a:hover {
	color: #66CCFF ; 
	width:100%;
	}
	
#sign{
	float:right;
	font-weight: bold;
	color: black;
	color: black;
	}
	
	

#container{
	background-color:#B0B0B0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#B0B0B0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#aaa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #555,  #aaa); /* for firefox 3.6+ */ 
	opacity: 0.8;
	height:auto;
	width:auto;
	left:100px;
	top:250px;
	position:absolute;
	padding: 40px 40px;
	font-size: 18px;
	-moz-border-radius: 15px;
    border-radius: 15px;
}

td.years {
	vertical-align: top;
	padding-left: 10px;
}

td.chart {
width: 45%
}

table.chart {
width: 100%
}


#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
