<h1><em>StatTracker</em></h1>

<p>	StatTracker offers MLB statistics and analysis to you. </br>
        We offer free graphical comparison funtionality that you can enjoy. </br>
        With our website, you can hone your fantasy team. You can find all the
        information you will need for a successful season here.
</p>