

<div id = 'comp'>
	<%= form_tag (players_path), :remote => true do %>
		Batting<%= radio_button_tag 'comp', 'batting' %>
		Pitching<%= radio_button_tag 'comp', 'pitching' %>
		<%= submit_tag 'Compare' %>
	<% end %>

</div>

<table>
	<tr>
		<td>
			<div id = 'players'>
			</div>	
		</td>
		<td class = 'years' >
			<div id = 'years'>
			</div>	
		</td>
	</tr>
</table>
		
