<h1>StatTracker Privacy Policy</h1>

<p>StatTracker takes your privacy seriously. </br>
  Since we think your privacy is important, we do not receive any personal information from you. </br>
  We DO NOT collect and receive any kinds of personal information, so it will not be publicly available.
</p>