<p class="supertiny">&nbsp;</p>

<div align="center" id="footer">

    <%= link_to 'About', about_path %> &#10070;
	
	<%= link_to 'Contact Us', contact_path %>  &#10070;
	

	<%= link_to 'Terms of Use', terms_path %>
	
	<br>
	&copy 2011
	</br>
	

</div>